/*=====Reset CSS======*/
article,
aside,
canvas,
figure,
figcaption,
footer,
header,
nav,
section,
audio,
video,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
button,
input,
input[type="buttton"],
input[type="submit"],
select,
.btn,
textarea {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  font-style: normal;
}

a:focus,
button:focus,
input:focus,
input[type="buttton"]:focus,
input[type="submit"]:focus,
select:focus,
.btn:focus,
textarea:focus,
.bootstrap-select .dropdown-toggle:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
label,
span {
  display: inline-block;
  vertical-align: middle;
  vertical-align: 0;
}

figure {
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  margin: 0;
  font-size: 0;
  line-height: 100%;
}

figure img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  color: #14211C;
  position: relative;
}


body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--teal-section-bg);
}

.svg_container {
  display: none;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

::-moz-selection {
  background-color: #1f40cb;
  color: #fff;
}

::selection {
  background-color: #1f40cb;
  color: #fff;
}

/*=====Reset CSS======*/

/*===== Global CSS ======*/
:root {
  --teal-section-bg: #547267;
}

h1 {
  color: #FFF;
  font-family: "Quincy";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: -1.62px;
}

/*===== Global CSS ======*/

/***** navbar start *************/
.footlogo>img {
  max-width: 220px;
  width: 100%;
  display: block;
}

.navbar_brand>img {
  max-width: 220px;
  width: 100%;
  display: block;
}

.hedr {
  transition: all 600ms ease-in-out;
  background: transparent;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  padding: 28px 0px;
}

.nav_menu {
  display: flex;
  align-items: center;
}

.navbar .nav_link {
  color: #FFF;
  font-family: "Helvetica";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.navbar .nav_link span {
  width: 14px;
  display: none;
}

.navbar .nav_link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
  width: 0px;
  height: 1px;
  display: block;
  background-color: #92CCB7;
  transition: all 300ms ease;
}

.navbar .nav_link:hover:after {
  width: 100%;
}

.navbar .nav_link:hover {
  color: #92CCB7;
}

.navbar .nav_item+.nav_item {
  margin-left: 45px;
}

.navbar_brand:hover {
  color: #FFF;
}

.hedr .navbar {
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0px;
}

.nav_togge_btn {
  display: none;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

.loginbtn {
  border-radius: 6px;
  background: #92CCB7;
  color: #1F372E;
  font-family: "Helvetica";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 120px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 130px;
  border: 2px solid #92CCB7;
}

.loginbtn:hover {
  background: transparent;
  color: #92CCB7;
}

.loginbtn img {
  display: none;
}

.navmenumain {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* mobile nav toggle buttom  ********/
.nav_togge_btn {
  background-color: transparent;
  padding: 0;
  position: relative;
  border: none;
}

.nav_togge_btn.opened {
  z-index: 99;
  position: fixed;
  right: 10px;
  top: 13px;
}

.hedr_color .line {
  stroke: #000;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 5;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 5;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 5;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
}

/***** navbar end *************/


/* home page start */
/* start home bannersect */
.bnr_img {
  min-height: 450px;
  object-fit: cover;
  width: 100%;
}

.bannersect {
  width: 100%;
  position: relative;
}

.absolute_bnr_cont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.bantextcont h1 {
  color: #FFF;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

.bantextcont {
  width: 100%;
  position: relative;
  max-width: 500px;
  margin-left: auto;
}

.formflex {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.formflex .form-control {
  width: 262px;
  height: 40px;
  background: rgba(255, 255, 255, 0.23);
  border: 1px solid #fff;
  color: #FFF;
  font-family: "Helvetica";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formflex .form-control::placeholder {
  color: #FFF;
}

.formflex .loginbtn {
  height: 40px;
  margin: 0px 0px 0px 10px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #92CCB7;
}

/* end home bannersect */

/* start pioneeringsection */
.pioneeringsection {
  width: 100%;
  position: relative;
  background: #547267;
  padding: 100px 0px 0px;
}

.wevimg {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -6%;
}

.headingsect {
  position: relative;
  width: 100%;
  /* max-width: 754px; */
  max-width: 994px;
  margin: 0 auto;
}

.headingsect h2 {
  color: #FFF;
  text-align: center;
  font-family: "Quincy";
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: 53px;
  max-width: 575px;
  margin: 0 auto 40px;
}

/* .headingsect p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.89;
} */

.headingsect p {
  color: #fff;
  line-height: 42px;
  font-size: 31px;
  font-family: "Quincy";
  font-weight: 400;
  text-align: center;
}

.headingsect p+p {
  margin-top: 10px;
}

.headingsect .loginbtn {
  margin: 40px auto 0;
}

.sceallsect {
  width: 100%;
  position: relative;
  margin-top: 70px;
}

.sceallsect .imgbottom {
  width: 100%;
  z-index: 2;
  position: relative;
  margin-bottom: -6%;
}

/* end pioneeringsection */

/* start offeringsect */
.offeringsect {
  width: 100%;
  position: relative;
  background: #EDFFF8;
  padding: 130px 0px 200px;
  margin-top: -5px;
}

.offeringsect .offeringheading {
  width: 100%;
  position: relative;
  margin: 0 auto 80px;
  max-width: 900px;
}

.offeringsect .offeringheading h2 {
  color: #1D2D27;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  font-family: "Quincy";
}

.offeringsect .offeringheading h5 {
  color: #547267;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.offwev {
  width: 100%;
  position: relative;
}

.offerflexbox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0px;
}

.officon {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  background: #EDFFF8;
  border: 1px solid #5D6B65;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  position: relative;
  z-index: 1;
}

.offheading h3 {
  color: #1D2D27;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  font-family: "Quincy";
}

.offcont p {
  color: #14211C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.72;
}

.offheading {
  flex: 0 0 auto;
  max-width: 245px;
}

.offcont {
  flex: 0 0 auto;
  max-width: 642px;
}

.offerflexbox+.offerflexbox {
  border-top: 1px solid #5d6b6540;
}

.offerflexbox::after {
  content: "";
  position: absolute;
  left: 32px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #222D29;
}

.offlist {
  width: 100%;
  position: relative;
  margin-top: 140px;
}

.offlist::before {
  content: "";
  position: absolute;
  left: 32px;
  top: 0;
  width: 47.6%;
  height: 1px;
  background: #222D29;
}

.offlist::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -99px;
  width: 1px;
  height: 100px;
  background: #222D29;
}

/* end offeringsect */
/* home page end */



/* about page start */
/* about banner */
.abt_bnr {
  position: relative;
}

.abso_abt_bnr {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.abt_bnr_txt {
  text-align: center;
}

.abt_bnr_txt h1 {
  font-size: 141px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.41px;
}

/* about banner */

/* our mission */
.our_mission {
  padding: 150px 0px 255px;
  background-position: center top;
  background-size: 100% 100%;
  margin-top: -150px;
  position: relative;
}

.mission_txt_wrp {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.mission_txt_wrp::before {
  content: '';
  width: 1px;
  height: calc(100% + 40px);
  background-color: rgba(255, 255, 255, 0.24);
  position: absolute;
  top: 0;
  left: 50%;
}

.mission_txt_wrp>* {
  max-width: 45%;
}

.our_misson_txt_cont>*:not(:last-child) {
  margin-bottom: 20px;
}

.our_mission_cont .row {
  position: relative;
}

.our_misson_txt_cont .misson_icon {
  width: 143px;
  height: 143px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.our_misson_txt_cont h3 {
  color: #FFF;
  font-family: "Quincy";
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: 53px;
}

.our_misson_txt_cont p {
  color: #fff;
  line-height: 27px;
  max-width: 460px;
  opacity: 0.89;
}

/* our mission */

/* feature sec */
.feature_sec {
  margin-top: -150px;
  position: relative;
}

.feature_sec .feature_wev img {
  width: 100%;
}

.fea_inr_cont {
  background: #EDFFF8;
  padding: 20px 0px 200px;
  margin-top: -2px;
}

.fea_hdr_txt {
  text-align: center;
  padding-bottom: 175px;
}

.fea_hdr_txt h3 {
  color: #547267;
  line-height: 25px;
  letter-spacing: -0.16px;
  padding-bottom: 20px;
  font-size: 16px;
}

.fea_hdr_txt h2 {
  color: #1D2D27;
  text-align: center;
  font-family: "Quincy";
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.32px;
  max-width: 984px;
  margin: 0 auto;
}

.fea_txt h2 {
  color: #1D2D27;
  font-family: "Quincy";
  font-size: 33px;
  line-height: 37px;
  letter-spacing: -0.66px;
  padding-bottom: 30px;
  max-width: 300px;
}

.fea_txt p {
  color: #14211C;
  line-height: 25px;
  letter-spacing: -0.16px;
  opacity: 0.72;
}

.feat_icon_cir {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #EDFFF8;
  border: 1px solid #5D6B65;
}

.fea_img img {
  width: 305px;
  height: 305px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.feature_wrp {
  position: relative;
  z-index: 1;
  padding: 0px 65px;
}

.feature_wrp::after {
  content: '';
  width: 1px;
  height: 100%;
  left: 50%;
  background-color: #00000042;
  position: absolute;
  top: -129px;
  z-index: -1;
}

.feature_wrp .feature_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.feature_wrp .feature_row+.feature_row {
  padding-top: 100px;
}

.feature_wrp .feature_row:nth-child(even) {
  flex-direction: row-reverse;
}

.feature_wrp .feature_row:nth-child(odd) .fea_img {
  text-align: right;
}

.feature_wrp .feature_row .fea_txt,
.feature_wrp .feature_row .fea_img {
  width: 357px;
}

/* feature sec */

/* join us */
.bios {
  padding: 200px 0px 135px;
}

.join_us {
  padding: 190px 0px 130px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  margin-top: -100px;
  position: relative;
}

.join_inr_wrp h2 {
  color: #FFF;
  text-align: center;
  font-family: "Quincy";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  max-width: 781px;
  margin: 0 auto;
  letter-spacing: -0.36px;
  padding-bottom: 50px;
}

.join_frm_wrp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join_frm_wrp input {
  max-width: 345px;
  width: 100%;
  flex: 1;
  height: 42px;
  padding: 10px 15px;
  border: 1px solid #EDFFF8;
  border-radius: 5px;
  margin-right: 9px;
  background-color: transparent;
  color: #ffff;
}

.join_frm_wrp input::placeholder {
  color: #FFF;
  font-weight: 400;
  font-family: "Helvetica";
  font-size: 15px;
}

.join_frm_wrp button {
  width: 120px;
  height: 42px;
  padding: 10px;
  flex: 0 0 auto;
  background: #92CCB7;
  color: #fff;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid #92CCB7;
  transition: all 350ms ease;
}

.join_frm_wrp button:hover {
  background-color: transparent;
}

.slick-initialized .slick-slide.bios_box {
  display: flex;
  /* justify-content: space-between; */
}

.bios h2 {
  color: #1D2D27;
  font-family: "Quincy";
  font-size: 69px;
  line-height: 42px;
  letter-spacing: -0.69px;
}

.slick-dotted.slick-slider.bios_slick {
  padding: 115px 0px 100px;
  margin: 0px;
}

.auth_txt h3 {
  color: #1D2D27;
  font-family: "Quincy";
  font-size: 34px;
  line-height: 42px;
  letter-spacing: -0.34px;
  padding-bottom: 20px;
}

.auth_txt p {
  color: #14211C;
  line-height: 25px;
  letter-spacing: -0.16px;
  max-width: 555px;
}

.auth_txt p+p {
  margin-top: 10px;
}

.bios_auth {
  padding-right: 65px;
}

.bios_auth img {
  max-width: 475px;
  width: 100%;
}

.bios_slick .slick-dots {
  bottom: 0px;
}

.bios_slick .slick-dots li.slick-active button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #547267;
  border: 2px solid #547267;
}

.bios_slick .slick-dots li button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #547267;
  background-color: transparent;
}

/* join us */
/* about page end */

/* health report page start */
/* health report bnr start */
.helthreport_bnr {
  position: relative;
}

.abso_hlt_bnr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.hlt_bnr_txt {
  text-align: center;
}

.hlt_bnr_txt h1 {
  font-family: "Quincy";
  color: #FFF;
  font-size: 108px;
  font-style: normal;
  font-weight: 400;
  line-height: 81px;
  letter-spacing: -1.08px;
}

/* health report bnr end */


/* helth report area start */
.report_sec {
  position: relative;
  margin-top: -100px;
}

.report_wev>img {
  width: 100%;
}

.report_area {
  background-color: #547267;
  padding: 10px 0px 130px;
  margin-top: -2px;
}

.report_area .report_hdng {
  color: #FFF;
  text-align: center;
  font-family: "Quincy";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.36px;
  max-width: 915px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.report_box_wrp {
  margin-top: 200px;
  position: relative;
  z-index: 1;
}

.report_box_wrp::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #ffffff8a;
  position: absolute;
  top: -155px;
  left: 50%;
  z-index: -1;
}

.report_box {
  display: flex;
  background-color: #45695C;
  position: relative;
  min-height: 400px;
}

.report_box:hover .report_img_box>img {
  transform: scale(1.1);
}

.report_info {
  padding: 40px 35px 40px 85px;
  position: relative;
}

.report_icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  background-color: #45695C;
  position: absolute;
  left: 0px;
  transform: translate(-50%, -50%);
  top: 50%;
}

.report_img_box {
  width: 340px;
  flex: 0 0 auto;
  overflow: hidden;
}

.report_img_box>img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 500ms ease-in-out;
}

.report_icon>img {
  max-width: 55px;
}

.report_box .report_name {
  color: #FFF;
  /* text-align: center; */
  font-family: "Quincy";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.26px;
  padding-bottom: 18px;
}

.report_box .report_dtls {
  color: #ffffffe6;
  line-height: 27px;
  opacity: 0.72;
}

.report_box .report_dtls+.report_dtls {
  padding-top: 18px;
}

.report_box+.report_box {
  margin-top: 112px;
}

.report_more_info {
  padding-top: 58px;
  margin-top: 84px;
  border-top: 1px solid #ffffff75;
}

.report_more_info p {
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
  line-height: 27px;
  max-width: 973px;
  margin: 0 auto;
  font-weight: 300;
}

.report_more_info p+p {
  margin-top: 40px;
}

/* helth report area end */
/* health report page start */

/* our team page start */
/* start 13.01.24 */
.bantextcont.tembancont {
  margin: 160px auto 0;
  text-align: center;
}

.bantextcont.tembancont h1 {
  font-size: 108px;
  line-height: 81px;
}

.pioneeringsection.whaitbg {
  background: #EDFFF8;
}

.pioneeringsection.whaitbg .headingsect p {
  color: #1D2D27;
  line-height: 42px;
  font-size: 31px;
  font-family: "Quincy";
  font-weight: 400;
}

.pioneeringsection.whaitbg .headingsect {
  max-width: 994px;
}

.pioneeringsection.whaitbg {
  padding: 100px 0px 166px;
}

.pioneeringsection.technicalsect .headingsect h2 {
  font-size: 57px;
  line-height: 42px;
  margin-bottom: 90px;
}

.technoimg {
  width: 100%;
  margin-bottom: 32px;
}

.technicont h5 {
  color: #FFF;
  font-family: "Quincy";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}

.technicont h4 {
  color: #FFF;
  font-family: "Quincy";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  opacity: 0.74;
  margin-bottom: 20px;
}

.technicont p {
  color: rgba(255, 255, 255, 0.90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.72;
}

.pioneeringsection.technicalsect .sceallsect {
  margin-top: 140px;
}

.offeringsect.cliniciansect .offeringheading {
  max-width: 100%;
}

.offeringsect.cliniciansect .offeringheading h2 {
  color: #1D2D27;
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
}

.offeringsect.cliniciansect .officon {
  background: #C8FDE8;
  border: 0px;
  width: 87px;
  height: 87px;
  overflow: hidden;
}

.offeringsect.cliniciansect .offlist::before {
  display: none;
}

.offeringsect.cliniciansect .offerflexbox::after {
  display: none;
}

.delboxflx {
  display: flex;
  align-items: center;
}

.delboxflx .offheading {
  margin-left: 30px;
}

.offeringsect.cliniciansect .offcont {
  flex: 0 0 auto;
  max-width: 618px;
}

.delboxflx .offheading h4 {
  color: #131F1A;
  font-family: "Quincy";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 10px;
}

.delboxflx .offheading h5 {
  color: #131F1A;
  font-family: "Quincy";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.87;
}

.offeringsect.cliniciansect .offerflexbox {
  padding: 30px 0px;
}

.maincontp {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.maincontp p {
  color: #14211C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.72;
}

.offeringsect.cliniciansect .offlist {
  margin-top: 0px;
}

.pioneeringsection.technicalsect::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -140px;
  width: 1px;
  height: 200px;
  background: #000;
  opacity: 0.82;
}

.offeringsect.cliniciansect .offlist::after {
  display: none;
}

.pioneeringsection.technicalsect {
  padding-top: 140px;
}

/* end 13.01.24 */
/* our team page end */


/* start footer */
footer {
  width: 100%;
  position: relative;
  background: url(../images/fbg.png);
  background-size: 100% 100%;
  background-position: center center;
  padding: 140px 0px 60px;
  margin-top: -60px;
}


.footheading {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 680px;
}

.footheading h2 {
  color: #FFF;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  font-family: "Quincy";
  margin-bottom: 50px;
}

.footheading h5 {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 25px;
}

footer .formflex {
  justify-content: center;
  margin-bottom: 116px;
}

footer .formflex .form-control {
  background: transparent;
  height: 42px;
  width: 346px;
  border-color: #EDFFF8;
}

footer .formflex .form-control:focus {
  border-color: #92CCB7;
}

footer .formflex .loginbtn {
  height: 42px;
}

.form-control {
  border-radius: 6px;
}

.footmenuflx {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #e4dbd642;
}


.footmenuflx .ftemail {
  color: #FFF;
  font-family: "Helvetica";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footmenuflx .ftemail:hover {
  color: #92CCB7;
}

.fmenulist {
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 0px 40px; */
  margin-top: -20px;
}

.fmenulist li {
  padding-top: 20px;
}

.fmenulist li:not(:last-child) {
  margin-right: 40px;
}

.fmenulist li a {
  color: #FFF;
  font-family: "Helvetica";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fmenulist li a:hover {
  color: #92CCB7;
}

footer p {
  text-align: center;
  margin-top: 30px;
}

footer p a {
  color: #FFF;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer p a:hover {
  color: #92CCB7;
}

/* end footer */








/* uzz dev 2 our services page start 13.01.2024*/

/***** banner start *************/
.bnrwidth {
  width: 100%;
}

.bnr {
  position: relative;
}

.bnr_text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.bnr_text h2 {
  color: #FFF;
  text-align: center;
  font-family: "Quincy";
  font-size: 132px;
  font-style: normal;
  font-weight: 400;
  line-height: 99px;
  letter-spacing: -1.32px;
  margin-left: 68px;
  max-width: 473px;
}

.absolute_bnrg {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
}

.absolute_bnrg img {
  width: 100%;
}

/*-- comp section start-- */
.comp {
  background-color: #EDFFF8;
  padding-top: 137px;
  padding-bottom: 300px;
  position: relative;
}

.rep_head {
  text-align: center;
  margin-bottom: 150px;
}

.rep_head h2 {
  color: #1D2D27;
  text-align: center;
  font-family: "Quincy";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.44px;
  margin-bottom: 34px;
}

.rep_head p {
  color: #14211C;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.16px;
  max-width: 657px;
  margin: auto;
  opacity: 0.72;
}

.info_num {
  width: 69px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 78px;
  margin-bottom: 64px;
  border-radius: 50%;
  background: #547267;
  position: relative;
}

.info_num p {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.29px;
}

.rep_info {
  margin-left: 58px;
}

.info_num::after {
  content: "";
  position: absolute;
  width: 505px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50%;
  transform: translateX(57%);
}

.info_num::before {
  content: "";
  position: absolute;
  width: 88px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50%;
  transform: translateX(-88%);
}

.rep_details p {
  max-width: 507px;
}

.rep_details h2 {
  color: #1D2D27;
  font-family: "Quincy";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.04px;
  max-width: 484px;
  margin-bottom: 38px;
}

.rep_details p {
  color: #14211C;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.16px;
  opacity: 0.72;
}

.rep_btm {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 67px;
  padding-top: 64px;
}

.comp .row.rep_btm:first-child {
  padding-top: 0px;
}

.comp .row.rep_btm:last-child p {
  max-width: 607px;
}

.repmar {
  min-height: 166px;
}

.comp .row .rephold .info_num::before {
  display: none;
}

.comp .row .rephold .info_num::after {
  max-width: 285px;
  transform: translateX(62%);
}

.rephold {
  margin-left: 0;
}

.rehead h2 {
  max-width: 233px;
}

.rephold h2 {
  margin-bottom: 21px;
}

.comp .row .rephold .info_num {
  margin-top: 0;
}

.comp .row .rephold {
  margin-top: 60px;
}

/*-- comp section end-- */
/*---benefits section strt--- */
.benefits {
  background: #547267;
  padding-top: 135px;
  padding-bottom: 297px;
  position: relative;
}

.benehead h2 {
  color: #FFF;
  text-align: center;
  font-family: "Quincy";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.44px;
  margin-bottom: 20px;
}

.benehead {
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin: auto;
  max-width: 872px;
  margin-bottom: 135px;
}

.benehead p {
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.89;
}

.bend {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.38);
  padding-top: 92px;
  padding-bottom: 37px;
  padding-left: 39px;
  padding-right: 42px;
  min-height: 561px;

}

.bend h3 {
  color: #FFF;
  font-family: "Quincy";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 65px;
}

.bend p {
  color: rgba(255, 255, 255, 0.90);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.72;
}

.bend {
  margin-bottom: 80px;
}

.bend_hg {
  display: flex;
  padding: 73px 44px 53px 42px;
  border: 1px solid rgba(255, 255, 255, 0.38);
  position: relative;
}

.bend_hg h3 {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.bend_hg p {
  color: rgba(255, 255, 255, 0.90);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.72;
}

.bend_hg .bend_right {
  flex: 0 0 64%;
  max-width: 64%;
  margin-left: 59px;
}

.bend_left h3 {
  max-width: 300px;
  font-family: "Quincy";
}

/*---benefits section end--- */


/* cost section strt */
.cost {
  background: #EDFFF8;
  padding-top: 40px;
  padding-bottom: 154px;
}

.cost_head {
  text-align: center;
}

.cost_head h6 {
  color: #547267;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.16px;
  margin-bottom: 16px;
}

.cost_head p {
  color: #1D2D27;
  text-align: center;
  font-family: "Quincy";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.34px;
  max-width: 937px;
  margin: auto;
}


/* off list csss dont take this css */
.offerflexbox_a {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.offerflexbox_a:last-child {
  padding-bottom: 0px;
}

.officon_a {
  flex: 0 0 auto;
  width: 41px;
  height: 41px;
  background: #547267;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  z-index: 1;
}

.offheading_a h3 {
  color: #1D2D27;
  font-family: "Quincy";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.56px;
}

.offcont p {
  color: #14211C;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.16px;
  opacity: 0.72;
}

.offheading_a {
  flex: 0 0 auto;
  width: 330px;
}

.offcont {
  flex: 0 0 auto;
  max-width: 642px;
}


.offlist_a {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

.offerflexbox_a::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.29);
  bottom: 0;
  left: 20px;
}

.offerflexbox_a:last-child:after {
  display: none;
}

.bottom_row .rep_details p {
  max-width: 300px;
}

/* uzz dev 2 our services page start 13.01.2024*/

/* 15-01-2024 start-- */
.ben_num::before {
  counter-increment: section;
  content: counter(section);
  width: 69px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.38);
  position: absolute;
  top: -24px;
  left: 45px;
  background-color: #547267;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 86.207% */
  letter-spacing: -0.29px;
}

.benefits {
  counter-reset: section;
}

.rep_pic>img {
  position: relative;
  z-index: 1;
}

/* 15-01-2024 end-- */


/* faq page start - 16/01/24 */
.faq_bnr {
  position: relative;
}

.abso_faq_bnr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.faq_bnr_txt h1 {
  max-width: 594px;
  color: #FFF;
  font-family: "Quincy";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -0.71px;
}

.faq_wev>img {
  width: 100%;
}

.faq_sec {
  margin-top: -90px;
  position: relative;
}

.faq_wrp {
  background: #EDFFF8;
  padding-bottom: 200px;
  margin-top: -2px;
}

.faq_wrp .faq_hdr {
  max-width: 850px;
  margin: 0 auto;
  color: #1D2D27;
  text-align: center;
  font-family: "Quincy";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.32px;
  padding-bottom: 90px;
}

.faq_box {
  border: 1px solid rgb(75 171 132 / 20%);
  background: rgb(217 255 240 / 20%);
  padding: 40px 70px;
}

.faq_box+.faq_box {
  margin-top: 20px;
}

.faq_box .question {
  color: #1D2D27;
  font-family: "Quincy";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.26px;
  padding-bottom: 23px;
}

.faq_box .ans {
  color: #14211C;
  line-height: 25px;
  letter-spacing: -0.16px;
}

/* faq page end - 16/01/24 */


/* 16.01.24 our_team */
.cliniciansect .offheading {
  max-width: 300px;
}

/* 16.01.24 our_team */

/* 16.01.24 privecy_policy start*/
.prvcy_policy {
  padding-top: 41px;
  background: #fff;
  padding-bottom: 219px;
}

.hedr_color .navbar .nav_link {
  color: #000;
}

.hedr_color .navbar_brand {
  color: #000;
}

.hedr_color {
  position: relative;
  background: #fff;
}

.hedr_color .container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding-bottom: 29px;
}

.prvcy_details h4 {
  color: #1D2D27;
  font-family: "Quincy";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  /* 140% */
  letter-spacing: -0.3px;
  margin-bottom: 28px;
}

.prvcy_details p {
  color: #14211C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.16px;
  opacity: 0.69;
}

.prvcy_details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding-bottom: 40px;
}

.privcy_sec h5 {
  color: #1D2D27;
  font-family: "Quincy";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.22px;
  margin-bottom: 23px;
}

.privcy_sec p {
  color: #14211C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.16px;
  opacity: 0.69;
}

.privcy_sec {
  padding-top: 32px;
}

.privcy_sec:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding-bottom: 40px;
}

.privcy_sec ol li {
  list-style: decimal;
  opacity: 0.69;
  color: #14211C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.16px;
  margin-bottom: 43px;
  list-style-position: inside;
}

.privcy_sec ol li:last-child {
  margin-bottom: 0px;
}

.privcy_sec ol li::marker {
  color: #14211C;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.16px;
}

.privacy_sec ol {
  margin-bottom: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.prvcy_more ul {
  margin-left: 65px;
}

.prvcy_more span {
  opacity: 0.69;
  color: #14211C;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.16px;
  margin-bottom: 29px;
}

.prvcy_more ul li {
  color: rgb(20 33 28 / 69%);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.16px;
  margin-bottom: 27px;
  position: relative;
  padding-left: 27px;
}

.prvcy_more ul li::before {
  content: "";
  position: absolute;
  background: url('../images/bk_tk.png') no-repeat;
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  filter: opacity(100%);
}

.prvcy_more ul li:last-child {
  margin-bottom: 0;
}

.ordr_list {
  padding-bottom: 66px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.prvcy_more {
  padding-top: 50px;
}

.prvcy_more ul {
  margin-bottom: 18px;
}

/* 16.01.24 privecy_policy start*/

/* 17.01.24 */
.slick-dots li button:before {
  display: none;
}

/* 17.01.24 */