@font-face {
    font-family: "Helvetica";
    src: url('../fonts/HelveticaRegular.otf') format('opentype'),
        url('../fonts/Helvetica.woff2') format('woff2'),
        url('../fonts/Helvetica.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Quincy";
    src: url('../fonts/Quincy.ttf') format('TTF'),
        url('../fonts/Quincy.woff2') format('woff2'),
        url('../fonts/Quincy.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}