@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }

    /*---services page strt-- */
    .bend {
        padding-right: 38px;
    }

    .info_num::before {
        width: 165px;
        transform: translateX(-70%);
    }
}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {

    /* about us page */
    .abso_abt_bnr {
        top: 50%;
    }

    .abt_bnr_txt h1 {
        font-size: 110px;
    }

    .our_mission {
        padding: 140px 0px 220px;
    }

    .our_misson_txt_cont .misson_icon {
        width: 110px;
        height: 110px;
    }

    .our_misson_txt_cont>*:not(:last-child) {
        margin-bottom: 15px;
    }

    .our_misson_txt_cont h3 {
        font-size: 37px;
        line-height: 38px;
    }

    .fea_hdr_txt h2 {
        font-size: 25px;
        line-height: 38px;
    }

    .join_inr_wrp h2 {
        font-size: 32px;
    }

    .bios {
        padding: 130px 0px 130px;
    }

    .bios h2 {
        font-size: 58px;
    }

    .slick-dotted.slick-slider.bios_slick {
        padding: 60px 0px 70px;
    }

    .slick-initialized .slick-slide.bios_box {
        flex-direction: column;
    }

    .bios_auth {
        padding: 0px 0px 60px 0px;
    }

    .auth_txt p {
        max-width: 100%;
    }

    .bios_auth img {
        display: block;
        margin: 0 auto;
    }

    /* about page */

    /* our team */
    .fmenulist li:not(:last-child) {
        margin-right: 20px;
    }

    .offeringsect.cliniciansect .offcont {
        max-width: 500px;
    }

    .loginbtn {
        margin-left: 40px;
    }

    .navbar .nav_item+.nav_item {
        margin-left: 30px;
    }

    .technicont h4 {
        line-height: 30px;
    }

    /* our team */

    /* helth care */
    .hlt_bnr_txt h1 {
        font-size: 80px;
        line-height: 78px;
    }

    /* helth care */

    /* home page 15.01.24 */
    .index_offering .offheading {
        max-width: 229px;
        padding: 0px 15px;
    }

    .index_offering .offheading h3 {
        font-size: 25px;
        line-height: 30px;
    }

    /* services page start 15.01.2024-- */
    .info_num::before {
        width: 84px;
    }

    .info_num::after {
        width: 436px;
    }

    .bend {
        padding-left: 28px;
        padding-right: 28px;
        min-height: 566px;
        padding-top: 78px;
    }

    .bend h3 {
        margin-bottom: 28px;
    }

    .offcont {
        max-width: 500px;
    }

    .comp .row .rephold .info_num::after {
        max-width: 230px;
        transform: translateX(65%);
    }

    .rep_details h2 {
        font-size: 46px;
    }

    .rep_head {
        margin-bottom: 100px;
    }

    .comp {
        background-color: #EDFFF8;
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .rep_details h2 {
        margin-bottom: 20px;
    }

    .info_num {
        margin-bottom: 35px;
    }

    .benefits {
        padding-top: 100px;
        padding-bottom: 250px;
    }

    .benehead {
        color: rgba(255, 255, 255, 0.90);
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        margin: auto;
        max-width: 872px;
        margin-bottom: 100px;
    }

    .bnr_text h2 {
        font-size: 110px;
        line-height: 92px;
    }

    /* services page start 15.01.2024-- */
}

@media (max-width: 991px) {

    /* start navbar */
    .loginbtn {
        justify-content: center;
        height: 40px;
        width: 120px;
        text-align: center;
    }

    .loginbtn img {
        display: block;
        width: 34px;
    }

    .navbar_brand {
        order: 1;
    }

    .navmenumain {
        margin-left: 0;
        order: 3;
    }

    .hedr .loginbtn {
        margin-left: auto;
        order: 2;
        margin-right: 20px;
    }

    .navbar .nav_link span {
        display: block;
    }

    .nav_togge_btn {
        display: block;
    }

    .hedr .navbar {
        padding: 15px 0px;
    }

    .nav_menu {
        position: fixed;
        flex-direction: column;
        top: 0px;
        right: 0;
        bottom: 0;
        padding: 80px 0px 0px 40px;
        background-color: #92CCB7;
        width: 300px;
        z-index: 99;
        transform: translateX(100%);
        transition: all 600ms ease-in-out;
        align-items: flex-start;
    }

    .navbar .nav_link {
        color: #000;
    }

    .navbar .nav_item+.nav_item {
        margin-left: 0px;
    }

    .navmenumain ul li {
        margin-bottom: 20px;
        width: 100%;
    }

    .nav_menu.show {
        transform: translateX(0%);
    }

    .navbar_brand {
        position: relative;
        left: 0;
        transform: translate(0);
    }

    .nav_function {
        margin-left: auto;
    }

    .hedr .navbar {
        min-height: auto;
    }

    .navbar .nav_link:hover {
        color: #EDFFF8;
    }

    .navbar .nav_link::after {
        background-color: #fff;
    }

    /* end navbar */

    /* about page */
    .feature_wrp {
        padding: 0px;
    }

    .feature_wrp .feature_row,
    .feature_wrp .feature_row:nth-child(even) {
        flex-direction: column-reverse;
    }

    .feature_wrp .feature_row .fea_txt,
    .feature_wrp .feature_row .fea_img {
        width: 100%;
    }

    .fea_img img {
        display: block;
        margin: 0 auto;
    }

    .feature_wrp .feature_row .fea_txt {
        text-align: center;
        background-color: #EDFFF8;
        padding: 5px;
    }

    .fea_txt h2 {
        font-size: 30px;
        max-width: 100%;
    }

    .our_mission {
        padding: 120px 0px 150px;
        background-size: auto 100%;
        margin-top: -100px;
    }

    .mission_txt_wrp {
        flex-direction: column;
    }

    .mission_txt_wrp>* {
        max-width: 100%;
        text-align: center;
    }

    .mission_txt_wrp>*+* {
        margin-top: 35px;
    }

    .our_misson_txt_cont p {
        margin: 0 auto;
    }

    .mission_txt_wrp::before {
        display: none;
    }

    .feature_sec {
        margin-top: -85px;
    }

    .fea_hdr_txt h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .fea_hdr_txt {
        padding-bottom: 100px;
    }

    .feature_wrp .feature_row+.feature_row {
        padding-top: 70px;
    }

    .feature_wrp::after {
        top: -60px;
    }

    .fea_inr_cont {
        padding: 20px 0px 150px;
    }

    .join_us {
        background-size: auto 100%;
        padding: 140px 0px 130px;
        margin-top: -70px;
    }

    .join_inr_wrp h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .bios {
        padding: 90px 0px 100px;
    }

    .bios h2 {
        font-size: 45px;
    }

    .slick-dotted.slick-slider.bios_slick {
        padding: 40px 0px 50px;
    }

    /* about page */

    /* our team */
    .footmenuflx {
        flex-direction: column;
        /* gap: 40px 0px; */
    }

    .footmenuflx>*:not(:last-child) {
        margin-bottom: 40px;
    }

    footer .formflex .form-control {
        width: 220px;
    }

    .footheading h2 {
        font-size: 35px;
    }

    .pioneeringsection.whaitbg .headingsect p {
        line-height: 36px;
        font-size: 24px;
    }

    .technoimg {
        margin-top: 40px;
    }

    .offeringsect.cliniciansect .offcont {
        max-width: 350px;
    }

    .pioneeringsection.whaitbg {
        padding: 50px 0px 110px;
    }

    .pioneeringsection.technicalsect {
        padding-top: 80px;
    }

    .pioneeringsection.technicalsect .headingsect h2 {
        margin-bottom: 20px;
    }

    .pioneeringsection.technicalsect::after {
        top: -100px;
        height: 150px;
    }

    .offeringsect.cliniciansect {
        padding: 90px 0px 110px;
    }

    .offeringsect.cliniciansect .offeringheading {
        margin: 0px auto 50px;
    }

    .offeringsect.cliniciansect .offerflexbox {
        flex-direction: column;
    }

    .delboxflx .offheading {
        margin-left: 0px;
        text-align: center;
        margin-bottom: 30px;
        max-width: 100%;
    }

    .delboxflx {
        flex-direction: column;
        gap: 20px 0px;
    }

    .offeringsect.cliniciansect .offcont {
        max-width: 100%;
        text-align: center;
    }

    /* our team */

    /* helth report */
    .report_area .report_hdng {
        font-size: 30px;
        line-height: 40px;
    }

    .report_box {
        flex-direction: column;
    }

    .report_img_box {
        width: 100%;
    }

    .report_img_box>img {
        max-height: 500px;
    }

    .report_info {
        padding: 85px 35px 40px;
    }

    .report_icon {
        top: 0;
        left: 50%;
    }

    /* helth report */

    /* home page 15.01.23 */
    .index_offering .offerflexbox {
        flex-direction: column;
        text-align: center;
        padding: 45px 0px;
    }

    .index_offering .offheading {
        max-width: 100%;
        padding: 15px;
    }

    .index_offering .offerflexbox::after {
        display: none;
    }

    .index_offering .offlist::before {
        display: none;
    }

    .homcontextxt.bantextcont h1 {
        font-size: 45px;
        line-height: 48px;
    }

    .homcontextxt.bantextcont {
        max-width: 409px;
    }

    /* home page 15.01.23 */

    /* services page strt 15.01.2024-- */
    .info_num::after {
        width: 299px;
        transform: translateX(61%);
    }

    .comp .row .rephold .info_num::after {
        max-width: 157px;
        transform: translateX(72%);
    }

    .offcont {
        max-width: 337px;
    }

    .offheading_a {
        width: 290px;
    }

    .offlist_a {
        width: 100%;
        position: relative;
        margin-top: 58px;
    }

    .bnr_text h2 {
        font-size: 90px;
        line-height: 76px;
        margin-left: 0px;
    }

    .comp {
        padding-top: 70px;
        padding-bottom: 180px;
    }

    .rep_head h2 {
        margin-bottom: 15px;
    }

    .rep_details h2 {
        font-size: 36px;
        line-height: 35px;
    }

    .bend {
        padding-left: 17px;
        padding-right: 17px;
        min-height: 687px;
    }

    .rep_head {
        margin-bottom: 70px;
    }

    /* services page strt 15.01.2024-- */

    /* FAQ page 17.01.24 start*/
    .faq_bnr_txt h1 {
        font-size: 55px;
    }

    .faq_wrp .faq_hdr {
        font-size: 25px;
        line-height: 37px;
        padding-bottom: 50px;
    }

    .faq_box {
        padding: 40px 20px;
    }

    /* FAQ page 17.01.24 */

    /* privecy policy 17.01.24*/
    .prvcy_policy {
        padding-bottom: 150px;
    }

    /* privecy policy */
}

@media (max-width: 1024px) {
    .report_box_wrp {
        margin-top: 100px;
    }

    .report_box_wrp::after {
        top: -90px;
    }
}

@media (max-width: 767px) {

    /* our team */
    .bantextcont.tembancont h1 {
        font-size: 70px;
        line-height: 81px;
    }

    .bantextcont.tembancont {
        margin: 70px auto 0;
    }

    .maincontp p {
        text-align: center;
    }

    .offeringsect.cliniciansect .offeringheading h2 {
        text-align: center;
    }

    .fmenulist {
        /* gap: 20px; */
        justify-content: center;
        flex-wrap: wrap;
    }

    .pioneeringsection.technicalsect .sceallsect {
        margin-top: 50px;
    }

    /* our team */

    /* helth report */
    .hlt_bnr_txt h1 {
        font-size: 60px;
        line-height: 63px;
    }

    .report_area .report_hdng {
        font-size: 25px;
        line-height: 38px;
    }

    /* helth report */

    /* home page */
    .offeringsect .offeringheading h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .offlist {
        margin-top: 0px;
    }

    .offlist::after {
        height: 70px;
        top: -50px;
    }

    .index_offering.offeringsect {
        padding: 90px 0px;
    }

    .headingsect h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .pioneeringsection {
        padding: 60px 0px 0px;
    }

    .sceallsect {
        margin-top: 30px;
    }

    .pioneeringsection.whaitbg .headingsect p {
        line-height: 28px;
        font-size: 21px;
    }

    .homcontextxt.bantextcont h1 {
        font-size: 42px;
        line-height: 40px;
        text-align: right;
        max-width: 300px;
        margin-left: auto;
    }

    /* home page */


    /* 15-1-2024 service strt-- */
    .bend {
        min-height: auto;
    }

    .offerflexbox_a {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .offerflexbox_a::after {
        left: 50%;
    }

    .bend_hg {
        flex-wrap: wrap;
    }

    .bend_hg .bend_right {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .offcont {
        max-width: 100%;
        position: relative;
        z-index: 1;
        background: #EDFFF8;
        padding-bottom: 10px;
    }

    .offheading_a {
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 1;
        background: #EDFFF8;
        padding-top: 10px;
    }

    .officon_a {
        margin-bottom: 20px;
    }

    .offerflexbox_a:last-child .officon_a {
        margin-bottom: 0px;
    }

    .rep_info {
        margin-left: 0px;
    }

    .rep_pic {
        text-align: center;
    }

    .rep_details p {
        max-width: 100%;
    }

    .info_num::before {
        display: none;
    }

    .bottom_row .rep_details p {
        max-width: 100%;
    }

    .repmar {
        min-height: auto;
    }

    .info_num::after {
        width: 440px;
        max-width: 440px;
        transform: translateX(58%);
    }

    .rep_details h2 {
        font-size: 27px;
        line-height: 30px;
    }

    .info_num {
        margin-top: 45px;
    }

    .rep_btm {
        padding-bottom: 40px;
    }

    .rehead h2 {
        max-width: 100%;
    }

    .comp .row .rephold .info_num::after {
        max-width: 440px;
        transform: translateX(58%);
    }

    .cost_head p {
        font-size: 30px;
        line-height: 38px;
    }

    .comp .row .rephold {
        margin-top: 35px;
    }

    .bend_left h3,
    .bend h3 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .bend {
        margin-bottom: 60px;
    }

    .benefits {
        padding-top: 60px;
        padding-bottom: 180px;
    }

    .comp {
        padding-bottom: 100px;
    }

    .bend_hg {
        padding: 78px 17px 37px 17px;
    }

    .rep_head {
        margin-bottom: 40px;
    }

    /* 15-1-2024 service strt-- */

    /* faq page 17.01.24 start*/
    .faq_bnr_txt h1 {
        font-size: 47px;
        line-height: 55px;
    }

    .faq_box .question {
        font-size: 22px;
        line-height: 25px;
        padding-bottom: 14px;
    }

    .faq_box .ans {
        font-size: 15px;
        line-height: 24px;
    }

    /* faq page 17.01.24 start*/


    /* footer */
    .footmenuflx>*:not(:last-child) {
        margin-bottom: 25px;
    }

    /* footer */
}

@media (max-width: 575px) {

    /* about page */
    .abt_bnr_txt h1 {
        font-size: 75px;
        line-height: 80px;
    }

    .fea_hdr_txt h3,
    .our_misson_txt_cont p,
    .auth_txt p,
    .fea_txt p {
        font-size: 15px;
    }

    .fea_txt h2 {
        font-size: 25px;
        max-width: 100%;
        line-height: 32px;
        padding-bottom: 17px;
    }

    .bios {
        padding: 60px 0px 100px;
    }

    .bios_auth {
        padding: 0px 0px 40px 0px;
    }

    .auth_txt h3 {
        padding-bottom: 15px;
    }

    .join_us {
        padding: 100px 0px 70px;
    }

    .report_area {
        background-color: #547267;
        padding: 10px 0px 100px;
    }

    /* about page */

    /* our team */
    .hedr {
        padding: 0px;
    }

    .bantextcont.tembancont {
        margin: 0px auto 0;
    }

    .pioneeringsection.technicalsect .headingsect h2 {
        font-size: 40px;
        margin-bottom: 0px;
    }

    .loginbtn {
        justify-content: center;
        height: 40px;
        width: 100px;
        text-align: center;
        font-size: 14px;
    }

    .offeringsect.cliniciansect {
        padding: 60px 0px 90px;
    }

    .offeringsect.cliniciansect .offeringheading {
        margin: 0px auto 20px;
    }

    .cliniciansect .delboxflx .offheading {
        margin-bottom: 15px;
    }

    .offeringsect.cliniciansect .offeringheading h2 {
        font-size: 47px;
    }

    .maincontp {
        margin-top: 10px;
    }

    /* our team */

    /* footer */
    footer {
        background-size: auto 100%;
        margin-top: -65px;
    }

    .footheading h2 {
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 30px;
    }

    footer .formflex {
        margin-bottom: 60px;
    }

    /* footer */

    /* helth report */
    .report_box .report_name {
        font-size: 25px;
        line-height: 30px;
    }

    .report_more_info p,
    .report_box .report_dtls {
        font-size: 15px;
    }

    .report_box_wrp {
        margin-top: 50px;
    }

    .report_box_wrp::after {
        top: -50px;
    }

    .hlt_bnr_txt h1 {
        font-size: 45px;
        line-height: 48px;
    }

    .report_more_info {
        padding-top: 40px;
        margin-top: 50px;
    }

    .report_more_info p+p {
        margin-top: 22px;
    }

    .report_info {
        padding: 85px 18px 20px;
        text-align: center;
    }

    .report_box+.report_box {
        margin-top: 85px;
    }

    /* helth report */

    /* home page */
    .headingsect p {
        font-size: 15px;
        line-height: 25px;
    }

    .index_offering.offeringsect {
        padding: 50px 0px 60px;
    }

    /* home page */

    /*-- services page-- */
    .info_num::after {
        max-width: 370px;
        transform: translateX(59%);
    }

    .cost {
        padding-bottom: 100px;

    }

    .comp .row .rephold .info_num::after {
        max-width: 370px;
        transform: translateX(59%);
    }

    .cost_head p {
        font-size: 23px;
        line-height: 32px;
    }

    .benehead h2 {
        font-size: 32px;
    }

    /*-- services page-- */
    /* faq page 17.01.24 start */
    .faq_wrp .faq_hdr {
        font-size: 22px;
        line-height: 28px;
        padding-bottom: 40px;
    }

    /* faq page 17.01.24 end */
    /* privecy policy 17.01.24 */
    .prvcy_policy {
        padding-bottom: 100px;
    }

    .prvcy_details h4 {
        font-size: 26px;
        line-height: 29px;
        margin-bottom: 22px;
    }

    .prvcy_more ul {
        margin-left: 10px;
    }

    .prvcy_more ul li {
        padding-left: 20px;
    }

    .hedr_color .container {
        padding-bottom: 0px;
    }

    /* privecy policy 17.01.24 */

    /* footer logo 23.01.24 */
    .footlogo>img {
        max-width: 200px;
        width: 100%;
    }

    .navbar_brand>img {
        max-width: 150px;
        width: 100%;
    }

    /* footer logo 23.01.24 */
}

@media (max-width: 480px) {

    /*--services page--- */
    .info_num::after {
        max-width: 330px;
        transform: translateX(59%);
    }

    .comp .row .rephold .info_num::after {
        max-width: 330px;
        transform: translateX(58%);
    }

    .benefits {
        padding-bottom: 135px;
    }

    .benehead {
        margin-bottom: 58px;
    }

    /*--services page--- */

    /* faq page 17.01.24 */
    .faq_bnr_txt h1 {
        font-size: 40px;
        line-height: 47px;
        max-width: 450px;
    }

    /* faq page 17.01.24 */

    /* privecy policy 17.01.24*/
    .prvcy_policy {
        padding-top: 30px;
    }

    /* privecy policy 17.01.24*/
}

@media (max-width: 420px) {

    /*--services page--- */
    .info_num::after {
        max-width: 265px;
        transform: translateX(63%);
    }

    .comp .row .rephold .info_num::after {
        max-width: 265px;
        transform: translateX(63%);
    }

    .absolute_bnrg {
        bottom: -3px;

    }

    /*--services page--- */
}